
<h1>Register</h1>
<h3 style='color:red;'>Invalid Credentials.</h3> 
<br><br>
<%= form_for :user, url: '/users' do |f| %>

  First Name:<br> <%= f.text_field :name_first %>
  <br><br>
  Last Name:<br> <%= f.text_field :name_last %>
  <br><br>
  Email:<br> <%= f.text_field :email %>
  <br><br>
  Password:<br> <%= f.password_field :password %>
  <br><br>
  Password Confirmation:<br> <%= f.password_field :password_confirmation %>
  <br><br>
  <%= f.submit "Submit" %>

<% end %>